<ion-buttons slot="start">
  <ion-menu-button menu="main-menu"></ion-menu-button>
</ion-buttons>
<main class="corpo">
  <main class="sub-body">

    <section class="prod" >

      <article *ngFor="let car of carrinho" >

        <main class="car">
          
          <section>
            <p>{{car.nome}}</p>
            <p>{{car.categoria}}</p>
          </section>

          <section class="car02">
            <p>{{car.temEmEstoque ? 'Em estoque' : 'Fora de estoque'}}</p>
            <p>{{car.valor}}</p>
          </section>


        </main>

      </article>
      
    </section>





    
    <section class="paga">
      {{ender.bairro }}
      {{ender.logradouro }}
      {{ender.localidade }}
      {{ender.uf }}
      <section>
        <h5>{{TotalNum}}</h5>
      </section>
    </section>

    <ion-button class="pagam" color="ligth" > pagamento </ion-button>

  </main>
</main>


