#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  html {
    background-color: #423F3F;
  }
  
  .algo {
    display: flex;
    flex-direction: row;
    position: relative;
    
  }
  
  .container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #423F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8%;
  }
  
  .home-background {
    position: relative;
    width: 90%;
    height: 80%;
    background-color: #c7c2c2;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
  }
  .corpo{
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: black;
    overflow: auto;
    
}
.conteudo{
    position: relative;
    width: 290px;
    box-shadow: 1px 1px 3px black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15px;
    padding: 1px;
    border-radius: 5px;
    

    
    
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}