<main class="corpo">

  <ion-toolbar class="menu">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <section class="block">
     <section *ngFor="let cont of anunci" >

      <main class="conteudo">
        <section>
          <p>{{cont.nome}}</p> <p>{{cont.produto}}</p>
        </section>
        <section>
          <p>{{cont.descricao}}</p>
          <p>{{cont.valor}}</p>
        </section>
      </main>

     </section>
  </section>

  


</main>
<footer class="footer">
  <ion-button>
    comprar
  </ion-button>
</footer>
