* {
    font-family: lato;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    
    background: #790808;
    background: linear-gradient(90deg #790808, #9b1f1f 100%);
    box-shadow: 0px 1px 10px rgba(253, 1, 1, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: -60px;
}

.header-content {
    position: absolute;
    top: -10%;
    left: 15px;
    display: block;
    align-items: center;
    z-index: 1;


    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

}

ion-content {
    --background-color: #423F3F;
}

.button {
    --background: #790808;
}