<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar class="algo">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-title>Olá, faça seu login!</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">Minha conta</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-searchbar placeholder="Pesquise"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  </div>